{% extends 'base.html.twig' %}

{% block title %}Culture{% endblock %}

{% block body %}

    {# <video muted loop controls #}{# autoplay #}{# class="video_header"> #}
    {# <source src="{{ asset('videos/video_header.mp4') }}" type="video/mp4"> #}
    {# </video> #}
    <div class="cult-header">
        <img src="{{ asset('build/images/au-pays-de-linca.jpg') }}" alt="header classes sociales">
    </div>
    <div class="contenaire">
        <div class="cult-content">

            <h1 class="mt-10">Culture Inca</h1>
            <div class=" intro-cult flex items-center ">
                <div class="img ">
                    <img src="{{ asset('build/images/symbole_1.png') }}" alt="symbole inca">
                </div>
                <div class="txt p-r">
                    <p id="output"></p>
                </div>
            </div>

            <div id="btn-summary">

                <input type="checkbox"/>

                <span class="vertical"></span>
                <span class="horizontal"></span>

                <ul id="summary">
                    <a href="{{ path('culture') }}#social">
                        <li>Classes sociales</li>
                    </a>
                    <a href="{{ path('culture-other') }}#agriculture">
                        <li>Agriculture</li>
                    </a>
                    <a href="{{ path('culture') }}#life">
                        <li>Mode de vie</li>
                    </a>
                    <a href="{{ path('culture-religion') }}#religion">
                        <li>Religion</li>
                    </a>
                    <a href="{{ path('culture-other') }}#architecture">
                        <li>Architectures et scultures</li>
                    </a>
                    <a href="#videos">
                        <li>Vidéos</li>
                    </a>
                </ul>
            </div>

            <div id="social">
                {# <div class="full-img"> #}
                {# <img class="parallax-full" src="{{ asset('build/images/au-pays-de-linca.jpg') }}" alt="header classes sociales"> #}
                {# </div> #}
                <div>
                    <h2 class="gs_reveal">
                        Classes Sociales:
                    </h2>
                    <p class="text-justify gs_reveal marge italic ">
                        La hiérarchie dans l'empire inca reprend l'organisation traditionnelle des communautés andines.
                        L'Inca est à la fois chef de son clan et souverain de tout l'empire. L'organisation
                        communautaire
                        est à la base de la structure de l'empire. Dans de nombreux cas, l'Inca conquérant veille à ne
                        pas
                        bousculer l'organisation traditionnelle des populations à assimiler et laisse en place les
                        autorités
                        traditionnelles et leur confie des instructeurs du clan inca pour les informer des lois de
                        l'empire
                        et les instruire dans la religion officielle. Ces autorités locales étaient donc encadrées et
                        rendaient comptes à des supérieurs hiérarchiques qui tous étaient membres du clan Inca.
                    </p>
                </div>

                <div class="flex social-inca mb-16">
                    <div class="flex flex-col justify-center txt  p-l">
                        <p class="text-justify gs_reveal ">
                            Cette société était donc fondée sur un système de castes et on ne pouvait que très
                            difficilement et
                            exceptionnellement changer de rang. Un individu de la classe laborieuse pouvait accéder à la
                            classe
                            dirigeante à la suite d'un exploit militaire ou grâce à quelque autre mérite. Il arrivait,
                            dans un
                            but politique, que des dirigeants coopératifs de peuples vaincus obtiennent des postes à
                            responsabilités, souvent celui de Kurakas.
                        </p>
                        <p class="gs_reveal ">
                            Le groupe social de base est formé par la famille constituée des parents et des enfants
                            célibataires. L'homme travaille aux champs, et pratique éventuellement de l'artisanat,
                            tandis
                            que la
                            femme s'occupe de la cuisine et de l'entretien de la maison. L'entraide entre familles est
                            très
                            fréquente, notamment au moment des récoltes. Les personnes invalides sont généralement
                            soutenues
                            par
                            l'ensemble de la communauté.
                        </p>
                        <p class="gs_reveal ">
                            Les peuples des Andes sont répartis dans de nombreux villages situés sur des hauteurs.
                            L'ensemble
                            des familles, la plupart du temps liées par le sang, qui habitent un village forme un ayllu.
                            Un
                            chef
                            (kuraka) dirige l'ayllu répartit les travaux collectifs et les terres. L'ayllu possède en
                            effet
                            des
                            terres agricoles, distribuées par lots, ainsi que des pâturages, d'accès collectif.
                        </p>
                    </div>

                    <div class="inca  flex items-center">
                        <img src="{{ asset('build/images/inca.jpg') }}" alt="inca">
                    </div>
                </div>

                <div class="marge">
                    <h3 class="gs_reveal">
                        L'élite:
                    </h3>
                    <p class="gs_reveal">
                        Au sommet de la pyramide sociopolitique se trouvait le souverain, le Sapa Inca, c'est-à-dire «
                        seul
                        Inca », le fils du Soleil, qui régnait en maître absolu : le pouvoir était centralisé et
                        d'origine
                        divine. Toute une élite dirigeante, formée principalement des lignages des souverains
                        antérieurs,
                        les panaqas impériaux, gravitait autour de l'empereur. Cette noblesse de naissance occupait les
                        plus
                        hautes fonctions administratives, militaires et religieuses. Toutefois, le pouvoir n'était pas
                        réservé à ces seuls dignitaires. En effet, les chefs locaux (curacas) continuaient d'exercer
                        leur
                        autorité, tant qu'ils restaient fidèles au souverain et se soumettaient à la tutelle impériale ;
                        ils
                        n'étaient destitués que s'ils étaient défaits militairement ou s'ils résistaient à la conquête
                        inca.
                    </p>
                </div>

                <div class="flex place-femmes marge">
                    <div class="femmes  flex items-center">
                        <img src="{{ asset('build/images/peru-femmes.jpg') }}" alt="femmes inca">
                    </div>
                    <div class="flex flex-col justify-center  p-r">
                        <h3 class="gs_reveal text-center">
                            La place des femmes
                        </h3>
                        <p class="gs_reveal">
                            Il existait aussi des catégories strictement féminines, qui correspondaient aux mamaconas et
                            aux
                            aqllas, souvent appelées « femmes choisies ». Les femmes de la noblesse étaient désignées
                            pour
                            diverses fonctions du culte, les femmes d'une beauté exceptionnelle étaient choisies pour
                            devenir
                            les épouses secondaires de l'Inca ou des principaux chefs militaires, alors que les autres
                            étaient
                            offertes comme épouses par le souverain à des chefs de rang inférieur. Enfin, certaines
                            femmes
                            remplissaient le rôle de servantes pour la cour impériale, les hauts dignitaires, le clergé
                            et
                            le
                            culte.
                        </p>
                    </div>
                </div>
            </div>


            <div id="life">
                <div class="full-img">
                    <img class="parallax-full" src="{{ asset('build/images/incas-header.PNG') }}" alt="inca header">
                </div>
                <div>
                    <h2 class="gs_reveal">
                        Mode de vie:
                    </h2>
                </div>
                <div class="flex life-alim">
                    <div class="flex flex-col items-center txt p-l">
                        <h3 class="gs_reveal">Alimentation:</h3>
                        <p class="gs_reveal">
                            Les paysans incas, comme leurs descendants péruviens actuels, prennent deux repas par jour
                            (vers
                            8h et 16 ou 17h) et une légère collation vers midi. Il est la grande majorité du temps
                            végétarien et composé de plantes et légumes bouillis dans une marmite. La viande, du lama ou
                            de
                            l'alpaca séché ou du cochon d'Inde rôti, est réservée aux jours de fêtes. Néanmoins, sur la
                            côte, les poissons sont très consommés.
                        </p>
                        <p class="gs_reveal">
                            Le légume de base est la pomme de terre, qui peut être conservée pendant plus de cinq ans
                            grâce
                            à un processus de conservation complexe (qui comprend notamment l'exposition au gel et
                            l'écrasement). Le maïs est également l'un des aliments de base, mais en plus grande quantité
                            sur
                            la côte que dans les Andes. Il est souvent utilisé pour produire de la bière légèrement
                            alcoolisée.
                        </p>
                        <p class="gs_reveal">
                            Enfin, ils mastiquent des feuilles de coca pour ses vertus médicinales et son effet «
                            coupe-faim
                            »
                        </p>
                        <h3 class="gs_reveal">
                            Médecine:
                        </h3>
                        <p class="gs_reveal">
                            Les civilisations croyaient que quand ils étaient malades, c’est les dieux qui les
                            punnissaient.
                            Pour se soigner ils utilisaient les rites et les prières, ou bien faisaient appel aux
                            médicament
                            naturels comme la boue bleu, qui était rare.. Un jardin a donc été aménagé au cœur des
                            habitations de la cité, dans lequel on retrouve notamment les incontournables feuilles de
                            coca
                            et la Muña (sorte de menthe aidant à la digestion) que vous pourrez bientôt aller goutter
                            chez
                            le père Assali s’il n’a pas perdu sa main verte !
                        </p>
                    </div>
                    <div class="symbole  flex items-center">
                        <img src="{{ asset('build/images/symbole2.png') }}" alt="symbole inca">
                    </div>
                </div>
                <div class="flex justify-center mt-16 mb-16 crane">
                    <img src="{{ asset('build/images/cranes.PNG') }}" alt="trépanation">
                </div>
                <div>
                    <h6 class="gs_reveal">Trépanation:</h6>
                    <p class="gs_reveal italic marge">
                        Les Incas ont, non seulement, laissé un précieux héitage artistique, architectural et culturel,
                        mais
                        aussi une contribution exceptionnelle à la médecine, il est aujourd’hui avéré que la
                        civilisation
                        préhispanique était même en avance sur son temps.
                    </p>
                    <p class="gs_reveal">L’étude révèle que les Incas étaient de meilleurs chirurgiens du crâne que des
                        médecins de la guerre
                        civile américaine, le taux de mortalité n’était que de 20%, alors qu’aux XIXe siècle; il
                        atteignait
                        50%.</p>
                    <p class="gs_reveal">
                        Parmi les opérations menées par les médecins incas, il y avait la trépanation aussi applée
                        craniotomie, qui consistait à percer le crâne humain pour des raisons de santé, sans anesthésie
                        ou
                        antibiotiques, or cette chirurgie délicate pratiquée par différents civilisations depuis des
                        milliers d’années était particulièrement maîtrisée sous l’ère précolombienne avec un taux de
                        réussite de 80% par rapport à une moyenne de 50% enregistrée pendant la guerre civile
                        américaine.
                    </p>
                    <p class="gs_reveal">
                        La chirurgie à la tête est loin d’être simple, et se lancer dans cette procédure sans avoir
                        accès à
                        toute la technologie moderne peut sembler insensé. Pourtant, une ancienne forme de chirurgie du
                        crâne, appelée trépanation, a été une pratique millénaire et répandue.
                    </p>
                    <p class="gs_reveal">
                        Il s’agit d’une opération au cours de laquelle le médecin soulève une partie du cuir chevelu,
                        puis
                        creuse un trou dans le crâne avant de refermer la plaie. Beaucoup de patients en mouraient, mais
                        il
                        y avait assez de survivants pour que le traitement perdure.
                    </p>
                    <p class="gs_reveal">
                        Pourquoi vouloir pratiquer un trou dans la paroi crânienne? Bien qu’il soit possible que la
                        procédure ait été effectuée pour des raisons religieuses, plusieurs études ont montré son rôle
                        en
                        tant qu’acte médical.
                    </p>
                    <p class="gs_reveal">
                        La trépanation était souvent pratiquée sur des personnes ayant subi un traumatisme crânien. Dans
                        ces
                        situations, l’enflure et l’accumulation de liquide dans la tête pouvaient être mortelles.
                        Pratiquer
                        ces trous et retirer des fragments d’os auraient pu aider à réduire la pression.
                    </p>
                    <p class="gs_reveal">
                        Il est aussi possible que cette technique ait servi de traitement contre les migraines ou les
                        maladies mentales. Hippocrate, le père de la médecine en Grèce antique, la proposait même comme
                        traitement contre l’épilepsie.
                    </p>
                    <p class="gs_reveal">
                        La trépanation était une pratique courante en Amérique du Sud, où les conditions géologiques
                        favorables à la préservation d’ossements ont permis à une grande quantité de crânes de patients
                        ayant subi l’intervention de se rendre jusqu’à nous.
                    </p>
                    <p class="gs_reveal">
                        Un os dont le pourtour du trou était cassé net ou portait des traces d’outils indique que la
                        personne est morte pendant (ou tout de suite après) la procédure. Toutefois, si l’os est lisse
                        et
                        arrondi, cela indique qu’il y a eu guérison et que la personne a survécu plusieurs mois ou même
                        des
                        années après l’intervention.
                    </p>
                </div>
                <div class="flex justify-center marge crane">
                    <img src="{{ asset('build/images/deformation.jpg') }}" alt="déformation crânienne">
                </div>
                <div>
                    <h6 class="gs_reveal">
                        Déformation crânienne:
                    </h6>
                    <div class="marge">
                        <p class="gs_reveal italic">
                            La déformation artificielle du crâne des nouveau-nés est une antique tradition universelle.
                            De
                            l’Europe aux Amériques en passant par l’Afrique, l’Asie, l’Océanie, aucune région n’échappa
                            au
                            modelage crânien.
                        </p>
                        <p class="gs_reveal italic mb-16">
                            Ces pratiques restent toujours vivaces dans ces régions lorsque les Incas dominent une
                            grande partie
                            de la Cordillère à partir du milieu du XVᵉ siècle. Un certain nombre de communautés sous
                            leur
                            domination avaient depuis longtemps pour habitude de déformer artificiellement l’occiput des
                            nourrissons, à l’instar de leurs vainqueurs.
                        </p>
                    </div>
                    <p class="bold gs_reveal text-center h7">
                        Déformer les crânes pour fixer l’âme au corps:
                    </p>
                    <p class="gs_reveal">
                        Mais pourquoi les Incas déformaient-ils les crânes ?
                    </p>
                    <p class="gs_reveal">
                        Le modelage crânien permet de distinguer les peuples entre eux, imprime de manière indélébile
                        dans
                        le corps l’appartenance à un groupe, pare et embellit les individus, marque le statut social,
                        renvoie vers la religion, la cosmologie, les croyances et les rites d’initiation.
                    </p>
                    <p class="gs_reveal">

                        La tête représente le centre de la vie spirituelle de l’individu. C’est le siège de la force
                        vitale
                        et elle symbolise l’esprit. La force animique, c’est-à-dire une puissance bénéfique et
                        spirituelle,
                        présente dans la tête est perçue comme une puissance bénéfique qui procure force, autorité et
                        vitalité à celui qui la détient et que l’on peut s’approprier à condition qu’elle soit
                        contrôlée. La
                        tête peut être associée à deux caractéristiques principales : elle représente métaphoriquement
                        le
                        cosmos et c’est écrin de l’âme.
                    </p>
                    <p class="gs_reveal">
                        Dans la cosmologie inca, il existe une opposition corporelle : devant/derrière – les Incas
                        associent
                        le devant du corps avec le passé et la clarté/et l’arrière avec le futur et l’obscurité – et une
                        opposition haut/bas, la tête correspondant au monde supérieur, celui du corps idéal représenté
                        par
                        les corps célestes. Enfin, plusieurs principes spirituels entourent et animent le corps humain.
                        L’un
                        des plus importants est l’animu, terme emprunté à l’espagnol anima, « âme », qui est une « force
                        animique », spirituelle et pas seulement humaine ».
                    </p>
                    <p class="gs_reveal">
                        Afin de fixer l’âme au corps, la mise en œuvre de moyens techniques, comme les déformations
                        crâniennes, s’avère indispensable et impérieuse. Déformer la tête c’est durcir et fermer le
                        corps,
                        solidifier, remettre en ordre au moins une de ses ouvertures.
                    </p>
                    <p class="bold gs_reveal h7">
                        Comment faisait-on chez les Incas ?
                    </p>
                    <p class="gs_reveal">

                        Plusieurs techniques sont mises en œuvre pour déformer les crânes. Le crâne de l’enfant est très
                        malléable et cette souplesse permet d’envisager un modelage avant que la forme définitive ne se
                        mette en place. La voûte crânienne est remarquablement plastique et prête bien à ce genre de
                        manipulations.
                    </p>
                </div>

                <div class="flex mb-16 deform">
                    <div class="flex flex-col justify-center txt p-l">
                        <p class="gs_reveal">
                            Les têtes étaient déformées selon plusieurs méthodes, l’aplatissement affectant soit le haut
                            du
                            crâne, soit les côtés. Les appareils déformateurs mis en œuvre sont de trois types : le
                            berceau
                            dans lequel la déformation est obtenue par la pression exercée sur la tête du nouveau-né
                            couché
                            et immobilisé dans un berceau de bois ; les planchettes où la tête est enserrée entre deux
                            morceaux de bois disposées sur le front et la nuque, aplatissant ainsi le crâne d’avant en
                            arrière. C’est l’aplatissement appelé « type tabulaire » ; enfin, des liens ou des bandeaux,
                            souvent appelés chuco, où le crâne est comprimé dès la naissance à l’aide d’un bandage très
                            serré. C’est le type « annulaire ou circulaire ».
                        </p>
                    </div>
                    <div class="crane-d  flex items-center">
                        <img src="{{ asset('build/images/deformationcrane.PNG') }}" alt="schema déformation de crânes">
                    </div>
                </div>

                <div class="flex ecriture marge">
                    <div class="quipus  flex items-center">
                        <img src="{{ asset('build/images/quipus.jpg') }}" alt="quipus">
                    </div>
                    <div class="flex flex-col justify-center p-r">
                        <h3 class="gs_reveal text-center">
                            l'écriture:
                        </h3>
                        <p class="gs_reveal italic">
                            Alors que l'empire inca était très structuré et bureaucratisé, l'écriture n'y a apparemment
                            pas
                            existé.
                        </p>
                        <p class="gs_reveal">
                            En revanche, un système de quipus a été mis en place. Les quipus sont des messages codés
                            sous la
                            forme de nœuds de différentes sortes sur des fils de laine, coton ou autre matériau et de
                            différentes couleurs. Ces quipus servaient aux statistiques de l'État : recensement très
                            précis
                            (nombre d'habitants par âge et par sexe), nombre d'animaux, état des stocks, tributs payés
                            et
                            dus des différents peuples, enregistrement de l'ensemble des entrées et sorties de
                            marchandises
                            des entrepôts de l'État, etc. Seuls les administrateurs connaissaient la clé des quipus :
                            c'étaient les quipucamayocs. Ce système de quipus était aussi utilisé par les dirigeants des
                            provinces pour transmettre les nouvelles importantes à l'Inca.
                        </p>
                        <p class="gs_reveal">
                            Il semblerait que les quipus aient aussi servi à notifier les grandes dates de l'Histoire et
                            à
                            consigner certains récits ou secrets religieux mais ceux-ci restent indéchiffrables de nos
                            jours
                            contrairement à certains quipus de statistiques.
                        </p>
                    </div>
                </div>

                <div class="flex mess marge">
                    <div class="txt flex justify-center flex-col p-l">
                        <p class="gs_reveal">
                            Les Incas envoyaient ces quipus ainsi que d’autres messages (qu’ils se transmettaient de
                            manière
                            orale) avec une rapidité étonnante aux coins les plus éloignés de l’empire. On estime ainsi
                            qu’il fallait moins d’une semaine à un message pour aller de Cuzco à Quito (2000km !!!).
                        </p>
                        <p class="gs_reveal">
                            Ces messagers, appelés « chasquis », étaient agiles et hautement entraînés. Ils se
                            relayaient
                            tous les 3km sur le vaste réseau routier et ainsi permettaient un contrôle de l’empire
                            depuis
                            Cusco.
                        </p>
                    </div>
                    <div class="messager  flex items-center">
                        <img src="{{ asset('build/images/incas-chasquis.jpg') }}" alt="messager inca">
                    </div>
                </div>
                <div class="full-img">
                    <img class="parallax-full" src="{{ asset('build/images/fille.jpg') }}" alt="fille header">
                </div>
                <div class="marge">
                    <h3 class="text-center gs_reveal">L'éducation</h3>
                    <p class="gs_reveal italic marge">
                        Toutes les informations sur leur éducation proviennent des chroniques écrites par les Espagnols
                        lors
                        de la conquête et de la colonie. De même, les informations ont été transmises oralement. Grâce à
                        toutes ces sources, on peut aujourd’hui conclure qu’il y avait eu une éducation pendant les
                        Incas.
                        Et il était destiné uniquement aux classes sociales supérieures.
                    </p>
                    <p class="gs_reveal">
                        Le système éducatif des Incas ne couvrait pas les gens en général.
                        Il était spécifiquement dédié aux enfants de la noblesse Inca, aux enfants des souverains des
                        villages et aux femmes choisies pour leur beauté et leur statut social.
                        L’éducation inca a connu un développement important dans diverses sciences telles que
                        l’astronomie,
                        la médecine, les mathématiques et la chirurgie.
                        Elle dure quatre ans et a commencé à l’âge de douze ans.
                        Comme il n’y avait pas de système écrit, l’éducation était basée sur l’audition et la
                        mémorisation.
                        Les professeurs qui enseignaient s’appelaient ‘Amautas’. L’enseignement a été par la pratique,
                        la
                        répétition et l’expérience.
                    </p>
                    <p class="gs_reveal">
                        Ainsi, les jeunes ont eu dès leur enfance une éducation pratique qui leur permettait de
                        s’acquitter
                        de leurs tâches quotidiennes: semer, récolter, combattre et plus encore.
                        Les parents étaient chargés de l’éducation de leurs enfants. Ils étaient également chargés de
                        fournir une tradition orale sur les mythes et légendes incas.
                        Ils étaient également responsables de l’éducation sexuelle des jeunes. Cela a été vu comme
                        quelque
                        chose de normal et quotidien. Ainsi, une partie de l’enseignement consistait en des techniques
                        permettant de prolonger les érections ou de se masturber.
                    </p>
                </div>
                <div class="flex educ">
                    <div class="symbole3  flex items-center">
                        <img src="{{ asset('build/images/symbole3.png') }}" alt="symbole dieu inca">
                    </div>
                    <div class="flex flex-col justify-center">
                        <p class="bold gs_reveal">
                            L’éducation des hommes:
                        </p>
                        <p class="gs_reveal">
                            L’école pour les jeunes s’appelait ‘Yachaywasi‘ (Maison de la connaissance). Il y avait
                            plusieurs dans l’Empire Inca bien que le principal était dans la ville actuelle de Cusco.
                            Les enfants des nobles ont reçu un enseignement de la langue quechua au cours de la première
                            année d’éducation.
                        </p>
                        <p class="gs_reveal">
                            Au cours des autres années ils ont: appris la religion Inca,
                            reçu une formation sur l’interprétation du quipus et la quatrième année était consacrée à
                            l’enseignement de l’histoire des Incas.
                            En outre, ils ont également reçu des formations physiques et des techniques militaires tout
                            au
                            long du temps.
                        </p>
                        <p class="bold gs_reveal">L’éducation des femmes:</p>
                        <p class="gs_reveal">
                            Les écoles pour jeunes filles s’appelaient ‘Acllahuasi‘ (Maison de l’élu).
                            L’éducation des femmes était très différente de celle des garçons.
                            Cependant, toutes les filles de l’empire Inca n’ont pas eu la possibilité d’aller à l’école.
                            Seuls quelques filles de haute classe sociale ou de grande beauté étaient polis. Un envoyé
                            inca
                            (ou l’Inca lui-même) était chargé de visiter les différents points de l’empire pour les
                            choisir
                            et les emmener à l’Acllawasi. À la fin, ils étaient destinés aux hommes de la noblesse
                            Inca..
                            Son éducation a également duré 4 ans et consistait à cuisiner, tisser, filer, préparer la
                            chicha
                            et la religion.
                        </p>
                        <p class="gs_reveal">
                            Seul un petit groupe d’entre eux n’avait aucun contact avec le monde extérieur. Elles ont
                            été
                            nommés Vierges du Soleil. Sa fonction était de préparer tout ce qui avait trait aux rites
                            religieux. Personne ne pouvait voir ou approcher d’eux.
                            Le reste des jeunes femmes (la grande majorité) ont reçu une éducation pratique de la part
                            de
                            leurs mères: tissage, cuisine, garde d’enfants, agriculture, etc.
                        </p>
                    </div>
                </div>

                <div class="full-img marge">
                    <img class="parallax-full" src="{{ asset ('build/images/machupichu-paysage.jpg') }}"
                         alt="paysage matchupichu">
                </div>
                <div class="flex temps mt-16 mb-16">
                    <div class="flex flex-col justify-center txt p-l">
                        <h3 class="text-center gs_reveal">
                            Notion de temps:
                        </h3>

                        <p class="gs_reveal italic">
                            Dans un pays où l’activité agricole devait s’effectuer en fonction des saisons, avoir une
                            perception précise du temps qui s’écoule était cruciale.
                        </p>

                        <p class="gs_reveal">
                            C’est ainsi que des constructions ont
                            été érigées sur des crêtes pour déterminer le mois et le jour en fonction de la position du
                            soleil entre ces constructions. C’est notamment de cette manière que les Incas ont pu
                            connaître
                            à quel moment intervenait le solstice d’hiver et d’été.
                            D’autres piliers marquaient le début et la fin des semailles du maïs. Ces horloges
                            monumentales
                            s’appelaient pacha unanchaq, « qui signale le temps », littéralement en quechua.
                        </p>
                        <p class="gs_reveal">
                            Le calendrier Inca comprenait une année constituée de douze mois, respectivement de 30 à 31
                            jours.
                        </p>
                    </div>
                    <div class="horloge  flex items-center">
                        <img src="{{ asset ('build/images/los-incas.jpg') }}" alt="horloge solaire">
                    </div>
                </div>
                <div class="flex vetements mb-16">
                    <div class="tissus flex">
                        <img src="{{ asset ('build/images/tissus.jpg') }}" alt="tissus">
                    </div>
                    <div class="flex flex-col justify-center txt p-r">
                        <h3 class="text-center gs_reveal">Vetements:</h3>
                        <p class="gs_reveal">
                            Les paysans incas portent tous des vêtements assez semblables. Il s'agit, pour les hommes,
                            d'un
                            pagne et d'une tunique sans manches auxquels on ajoute une cape lorsque les conditions
                            climatiques ou cérémonielles l'exigent.
                        </p>
                        <p class="gs_reveal">
                            Les femmes, elles, portent une robe et une cape. Leur robe est constituée d'un simple
                            morceau de
                            tissu rectangulaire, enroulé autour d'elles et maintenu par une ceinture et deux fibules
                            circulaires au niveau des épaules. La cape est elle accrochée via une épingle ou un nœud sur
                            le
                            devant. Leurs cheveux sont ceints d'un bandeau et elles portent généralement un voile léger
                            pour
                            s'abriter du soleil.
                        </p>
                        <p class="gs_reveal">
                            Les vêtements sont généralement noirs ou marron dans les hautes terres où ils sont faits de
                            laine, et blancs sur la côte où le coton est principalement utilisé. Ils sont la plupart du
                            temps faits d'une seule pièce, et non pas composés de différents morceaux cousus entre eux.
                        </p>
                        <p class="gs_reveal">
                            Mais la coiffure masculine est également un autre moyen de différenciation : l'élite porte
                            des
                            cheveux très longs, alors que le peuple se rase court.
                        </p>
                        <p class="gs_reveal">
                            Les deux sexes portent aux pieds des sandales ou des mocassins. Ils arborent également des
                            bijoux : les hommes portent notamment des ornements d'oreille cylindriques qui leur
                            déforment
                            les lobes, d'où leur surnom d'orejones ("oreillards") que leur donnent les Espagnols. Les
                            femmes
                            elles portent plutôt des colliers et des fibules.
                        </p>
                    </div>
                </div>
                <div class="marge">
                    <h3 class="text-center gs_reveal">
                        Jeux et divertissements:
                    </h3>
                    <p class="gs_reveal">
                        Le quotidien des paysans incas ne comporte que peu de divertissements, hormis ceux liés au
                        travail
                        en commun et aux cérémonies (ces deux derniers cas sont en effet des occasions de fêtes).De
                        grandes
                        battues sont organisées par le Sapa Inca tous les quatre ans; elles sont également l'occasion de
                        festoyer et de consommer de la viande. Les cérémonies en l'honneur d'une divinité ou d'un haut
                        personnage sont elles l'occasion de danser et de jouer de la musique.
                    </p>
                    <p class="gs_reveal">
                        Peu de jeux incas sont parvenus jusqu'à nous, mais la plupart des chroniqueurs rapportent
                        l'existence d'un jeu de dé, la pichqa ("cinq" en quechua). Le dé pyramidal à cinq faces utilisé
                        dans
                        ce jeu servait aussi comme instrument de divination.
                    </p>
                </div>
            </div>

            <div class="flex justify-center mb-16">
                <ul class="pagination modal-3">
                    <li><a href="{{ path("culture") }}" class="active">1</a></li>
                    <li><a href="{{ path("culture-religion") }}"> 2 </a></li>
                    <li><a href="{{ path("culture-other") }}"> 3 </a></li>
                    <li><a href="{{ path("culture-religion") }}" class="next">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>

 {% include 'partials/_video.html.twig' %}
{% endblock %}
