<header>
<nav role="navigation" class="nav">
    <div id="menuBurger">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <li>
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('history') }}">Histoire</a>
            </li>
            <li>
                <a href="{{ path('culture') }}">Culture Inca</a>
            </li>
            <li>
                <a href="{{ path('legends') }}">Mythes et légendes</a>
            </li>
            <li>
                <a href="{{ path('touristic') }}">Attractions Touristiques</a>
            </li>
        </ul>
    </div>
</nav>
</header>